footer
{
    padding:11px 0px 37px 24px;
    background-color: $noir;

}

footer p
{
    width: 23%;
    margin-bottom: 8px;
    color:white;
    font-family: 'Shrikhand', cursive;
    margin-left: 0;

    @media (min-width:540px)

    {
        margin-left: 42%;
    }

    @media (min-width:1022px) 

    {
        margin-left: 47%;
    }
}

.container-footer
{
    margin: 0 auto;
}

footer li
{
    margin-top: 12px; 
}

footer a
{
    color: white;
}

footer .fa-utensils, footer .fa-hands-helping
{
    color: white;
    margin-right: 5%;

    @media (min-width:540px)

    {
        margin-right: 1%;
    }
}


.nav_footer
{
    text-align: left;

    @media (min-width:540px)

    {
        text-align: center;
    }
}
