/*header*/
@import'_variables.scss';


.logo_main
{
    position: relative;
    box-shadow: 4px 1px 6px #c1c1bd;
    height: 45px;
    padding-top: 20px;
    text-align: center;

    @media (min-width: 540px)
    {

        box-shadow:none;
    }
}

.logo
{
    width: 50%;
    margin-bottom: -18px;

    @media (min-width: 585px)

    {
        width: 36%;
    }

    @media (min-width:639px)

    {
        width: 31%;
    }

    @media (min-width:760px)

    {
        width: 27%;
    }

    @media (min-width:910px)

    {
        width: 23%;
    }

    @media (min-width:1039px)

    {
        width: 19%;
    }
}

.local_text
{
    font-weight: 500;
    font-size: 100%;
    border: none;
    background: none;
    text-align: center;
}


.local
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0;
    background-color: $gris-foncé;

}



