.card__icon 
{
    position:relative;
    top:19px;
    font-size: 21px;
    z-index: 1;
    transform: translate(-50%, -50%);

    .heart{
        position:relative;
        z-index:1;
        cursor: pointer;
        top: 28px;  

        &-color{
            position:absolute;
            left:0;
            top:0;
            z-index:-1;
            background: linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity:0;
            transform: scale(0);
            transition:.3s ease;
        }
    }

    .heart:hover .heart-color{
        transform:scale(1);
        opacity:1;
    }

    .heart:hover{
        background: linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px white;
    }
}


.coeur 
{
    position:relative;
    top:19px;
    font-size: 21px;
    z-index: 1;
    transform: translate(-50%, -50%);

    .heart{
        position:relative;
        z-index:1;
        cursor: pointer;
        top:22px;
        left: 75px;
         @media (min-width: 280px)
         {
             left: 5px;
             top:37px;
        }
        
        
         @media (min-width: 320px)
         {
             left: 35px;
             top:22px;
        }
        
        @media (min-width: 360px)
        {
            left: 77px;
        }
 @media (min-width: 375px)
 {
     left: 87px;
        }
        @media (min-width: 411px)
        {
            left: 113px;
        }

        @media (min-width: 540px)
        {
            left: 28px;
        }
        
        @media (min-width: 768px)
        {
            left: 55px;
        }

        @media (min-width: 1022px)
        {
            left: 95px;
        }

        &-color{
            position:absolute;
            left:0;
            top:0;
            z-index:-1;
            background: linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity:0;
            transform: scale(0);
            transition:.3s ease;
        }
    }

    .heart:hover .heart-color{
        transform:scale(1);
        opacity:1;
    }

    .heart:hover{
        background:linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px white;
    }


}



.entrees_food
{
    border-radius: 15px;
    margin-bottom: 14px;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content:  space-between;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.10);
    padding-left:12px;
    height: 87px;

    &:hover
    {
        overflow: hidden;

        .item_barre{
            width: 20%;
            transition:all 0.5s ease;
        }
        .fas.fa-check-circle.fa-lg{
            animation: moveCircle 1.25s;
        }
    }
}

.item_barre
{

    background-color:$vert;
    border-radius: 0 15px 15px 0;
    width:0; 
    padding:24px 0;
    text-align: center;
    overflow: hidden;
    color: white;
    transition:all 0.5s ease;
    display: flex;
}
