.card__icon .fas.fa-heart
{
    position:relative;
    top:19px;
    font-size: 21px;
    z-index: 1;
    color: white;
    transition: background 0.5s;
    background-clip:text;
    -webkit-background-clip: text;
    text-shadow:0 0 2px black; 
    

    &:hover
    {
        background-image: linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
        color:transparent;
        text-shadow: none;
        transition:all 1s;
    }
}

.coeur .fas.fa-heart
{
    position: relative;
    left:19vw;
    bottom:17px;
    color: $gris_clair;
    transition: background 0.5s;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow:0 0 2px black; 
    top:26%;

    &:hover
    {
        background-image: linear-gradient(173deg,#ff79da 0%, #d66cdb 39%,#ab5edc 85%, #9b59dc 100%);
        color:transparent;
        text-shadow: none;
        transition:all 1s;
    }

    @media (min-width: 540px)
    {
        left:5vw;
    }
}

.entrees_food
{
    border-radius: 15px;
    margin-bottom: 14px;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content:  space-between;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.10);
    padding-left:12px;
    height: 87px;

    &:hover
    {
    overflow: hidden;
    
    .item_barre{
        width: 20%;
   transition:all 0.5s ease;
                }
        .fas.fa-check-circle.fa-lg{
             animation: moveCircle 1.25s;
        }
    }
}
.item_barre
{

    background-color:$vert;
    border-radius: 0 15px 15px 0;
    width:0; 
    padding:24px 0;
    text-align: center;
    overflow: hidden;
    color: white;
   transition:all 0.5s ease;
    display: flex;
}
