body
{
    font-family: 'Roboto', sans-serif;    
}

#img1
{
    background-image: url("../../restaurants/img1.jpg");
}

#img2
{
    background-image: url("../../restaurants/img2.jpg");
}

#img3
{
    background-image: url("../../restaurants/img3.jpg");
}

#img4
{
    background-image: url("../../restaurants/img4.jpg")
}

