body
{
    font-family: 'Roboto', sans-serif;
}

#img1
{
    background-image: url("../../restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#img2
{
    background-image: url("../../restaurants/plat.jpg");
}

